html, body {
    width: 50%;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 500px;
    height: 600px;
    background-color: cyan;
}

#inputField{
    width: 300px;
    height: 46px;
    border: 1px solid black;
    outline: none;
    font-size: 25px;
    vertical-align: middle;
    border-radius: 20px;
    margin-left: 50px;
    background-color: darkkhaki;
}
​

#addToDo{
    height: 50px;
    width: 50px;
    border: 1px solid black;
    vertical-align: middle;
    font-size: 30px;
    border-radius: 25px;
    color: rgb(106, 11, 184);
}
#addToDo:hover{
    background-color: rgb(103, 124, 124);
}

.to-dos{
    margin-top: 25px;
}

.ul1{
    margin-top: 20px;
    margin-left: 50px;
    cursor: pointer;
    font-size: 20px;
}
.close{
    background-color: rgb(27, 150, 99);
   margin-left: 30%;
   height: 400px;
   width: 400px;
}
.close:hover{
    background-color: darkslategray;
}
h1{
    text-align: center;
    margin-top: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 10px;
}

.check{
    height: 20px;
    width: 20px;
   
    position: relative;
    right: 10px;
}
